[user]
    name = Tomasz Maczukin
    email = tomasz@maczukin.pl
    signingkey = 5C62DF63396CD2905201BBEBE1626E3E26C0C9B5
[core]
    editor = vim
    pager = less -R
    excludesfile = ~/.git_globalignore
[color]
    ui = auto
    branch = auto
    interactive = auto
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
    new = green
[color "status"]
    header = cyan
    branch = white bold
    added = green
    changed = yellow
    untracked = red
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[commit]
    gpgsign = true
[merge]
    log = true
[push]
    default = simple
[alias]
    pulllog = log ..@{u}
    pushlog = log @{u}..
    lastlog = log --pretty=format:'%Cblue%h%Creset c:%Cred%cn%Creset a:%Cred%an%Creset %Cgreen%s%Creset %ar' -n 10
    who = shortlog -e -s -n
    lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(bold red)[%G? %GK]%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold red)[%G? %GK]%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
    lg = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(bold red)[%G? %GK]%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    st = status -sb
    today = diff @{yesterday}.. --stat
    branches = branch -vv
    wtf = log --pretty=format:"%C(auto,yellow)%h%C(auto)%d%C(auto,reset)\\ by\\ %C(auto,blue)%cn%C(auto,reset),\\ %C(auto,cyan)%ar%C(auto,reset)%n\\ %s%n" --stat
    cdiff = diff --cached
    sdiff = diff --staged
